aside{
  margin-inline: 1em;
  margin-top: 5px;
  padding: 1em;
  max-height: 300px;
  position: sticky;
  top: 75px;
  background-color: var(--sec-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-text-color);
}

aside > h2{
  border-bottom: 1px solid var(--main-color);
  text-align: center;
}

aside > a:hover{
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 430px){
  aside{
    position: static;
    margin-inline: 5px;
  }
}