nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50px;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 430px) {
  nav{
    flex-wrap: wrap;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu{
    flex-direction: column;
  }
}