@import url(navbar-items.css);

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--sec-color);
  transform: translateX(0%);
}

#mobile-menu{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 2rem;
  width: 2rem;
  z-index: 4;
  margin: 5px;
  border-radius: 75%;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}

#mobile-menu svg{
  width: 100%;
}

#logo{
  max-width: 50px;
}

.nav-items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 430px) {
  nav{
    flex-direction: column;
    width: 70%;
    height: 90%;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    background-color: #985b2d;
  }

  nav > .nav-items{
    height: 100%;
    order: 2;
  }

  #menu{
    flex-wrap: wrap;
  }

  #login{
    flex-direction: column;
  }

  #mobile-menu{
    display: block;
  }
}