nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

#mobile-menu{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 2rem;
  width: 2rem;
  z-index: 4;
  margin: 5px;
  border-radius: 75%;
  border: 1px solid #7aa3cc;
  background-color: #0d3170;
}

#mobile-menu svg{
  width: 100%;
}

#logo{
  max-width: 50px;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 430px) {
  nav{
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
  }

  nav > .menu{
    flex-direction: column;
  }
  
  #mobile-menu{
    display: block;
  }
}