@import url(navbar.css);
@import url(main.css);
@import url(aside.css);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
}

body{
  background-color: var(--ter-color);
}

body::-webkit-scrollbar{
  width: 0.35rem;
}

body::-webkit-scrollbar-track{
background: #2E2F2F;
}

body::-webkit-scrollbar-thumb{
background: var(--main-color);
}
a{
  text-decoration: none;
}

section{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 75px;
}

@media screen and (max-width: 430px) {
  section{
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  section > main {
    order: 2;
  }
}

:root{
  --main-color: #ff8c46;
  --sec-color: #FFF;
  --ter-color: #dbcab6;
  --main-text-color: #ff8c46;
  --sec-text-color: #6c6868;
}